
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Chat Plaza</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/community.css"/>
    <script src="/js/jquery-3.7.1.min.js" type="application/javascript"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>
<div th:insert="navigation :: nav"></div>
<div class="jumbotron error-page">
    <h1>エラーが発生しました！</h1>
    <p th:text="${message}">サーバーが混雑しておりますので、後ほど再度お試しください</p>
    <p><a class="btn btn-primary btn-lg" href="/" role="button">ホームページに戻る</a></p>
</div>
</body>
</html>